:root {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #000028;
  --titleColor: #db00ff;
  --titleDecor: #ff0070;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4);
  --linkDecor: #ff0070;
  --buttonColor: #FF0070;
}

:root.theme-dark {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #000028;
  --titleColor: #db00ff;
  --titleDecor: #ff0070;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4);
  --linkDecor: #ff0070;
  --buttonColor: #FF0070;
}
