:root {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #002137;
  --titleColor: #db00ff;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4);
  --decorColor: #ff0070;
  --textBgColor: #ff0070;
}

:root.theme-dark {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #002137;
  --titleColor: #db00ff;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4);
  --decorColor: #ff0070;
  --textBgColor: #ff0070;
}
