:root {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #483d8b;
  --titleColor: #db00ff;
  --titleDecor: #ff0070;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4); 
}
/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #483d8b;
  --titleColor: #db00ff;
  --titleDecor: #ff0070;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --outlineColor: rgba(255, 0, 112, 0.4); 
}
