:root.theme-light {
  --backgroundImage: url(../images/cover-image-light.png);
  --backgroundColor: #e8c8c8;
  --titleColor: #ffc2e6;
  --subtitleColor: #353430;
  --textColor: #353430;
  --outlineColor: rgba(50, 49, 45, 0.4);
  --decorColor: #353430;
  --textBgColor: #ff8dcb;
}

.theme-light .caption__dark-theme {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundImage: url(../images/cover-image-light.png);
    --backgroundColor: #e8c8c8;
    --titleColor: #ffc2e6;
    --subtitleColor: #353430;
    --textColor: #353430;
    --outlineColor: rgba(50, 49, 45, 0.4);
    --decorColor: #353430;
    --textBgColor: #ff8dcb;
  }

  .theme-auto .caption__dark-theme {
    display: none;
  }
}
