/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --backgroundImage: url(../images/cover-image-light.png);
  --backgroundColor: #e8c8c8;
  --titleColor: #ffc2e6;
  --titleDecor: #FF8DCB;
  --subtitleColor: #353430;
  --textColor: #353430;
}

.theme-light .caption__dark-theme {
  display: none;
}
