/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: 10px;
  background-image: var(--backgroundImage);
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--backgroundColor);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding-block: 10px;
  display: grid;
  grid-template-columns: 3 (1fr);
}

.caption__dark-theme {
  position: absolute;
  left: 304px;
  top: 10px;
}

.caption__dark-theme::after {
  padding-inline-start: 10px;
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: black;
  border-radius: 60px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header-title {
  justify-self: center;
  align-self: center;
}

.header__slogan {
  justify-self: center;
  align-self: center;
}
