/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: 10px;
  background-image: var(--backgroundImage);
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--backgroundColor);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 10px;
}

.decorative__element-start {
  position: absolute;
}

.decorative__element-start::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.caption__dark-theme {
  position: absolute;
  left: 304px;
  top: 10px;
}

.caption__dark-theme::after {
  position: absolute;
  padding-inline-start: 10px;
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: black;
  border-radius: 60px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  margin-block-start: 4px;
  display: grid;
  gap: 14px;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  font-family: var(--font);
  font-size: var(--textSize);
  line-height: 18px;
  font-weight: var(--weightRegular);
  font-style: var(--styleNormal);
  color: var(--buttonColor);
  padding: 1.5px 13px;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outlineColor);
  cursor: pointer;
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--buttonColor);
  padding: 1.5px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--buttonColor);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--buttonColor);
}

.title {
  justify-self: center;
  align-self: center;
  margin-block-start: 1px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font);
  font-weight: var(--weightBold);
  font-style: var(--styleBold);
  line-height: 83%;
  color: var(--titleColor);
  text-shadow: 4px 4px 0 var(--titleDecor);
}

.header__slogan {
  justify-self: center;
  align-self: center;
  margin-block-end: 12px;
  font-family: var(--font);
  font-weight: var(--weightBold);
  font-style: var(--styleBold);
  font-size: var(--textSize);
  line-height: 23.4px;
  color: var(--subtitleColor);
  background-color: var(--titleDecor);
}

p .header__slogan {
  justify-self: center;
  align-self: center;
  font-family: var(--font);
  font-weight: var(--weightBold);
  font-style: var(--styleBold);
  font-size: var(--textSize);
  line-height: 23.4px;
  color: var(--subtitleColor);
  background-color: var(--titleDecor);
}

.content {
  padding-block-start: 30px;
  font-family: var(--font);
  font-weight: var(--weightBold);
  font-style: var(--styleBold);
  font-size: var(--textSize);
  line-height: var(--textLineHeight);
}

.content-title {
  margin-block-end: 20px;
  font-size: var(--textSize);
  color: var(--titleDecor);
}

.content-subtitle {
  margin-block-end: 10px;
  color: var(--subtitleColor);
  background-color: var(--titleDecor);
}

.max-subtitle {
  margin-block-end: 20px;
}

.subtitle-gallery {
  margin-block-start: 30px;
  margin-block-end: 0;
  font-family: var(--font);
  font-weight: var(--weightBold);
  font-style: var(--styleBold);
  font-size: var(--textSize);
  line-height: var(--textLineHeight);
}

.content__subtitle-regular {
  font-weight: var(--weightRegular);
  font-style: var(--styleNormal);
  font-size: var(--textSize);
}

.content-text {
  margin-block-end: 20px;
  font-weight: var(--weightRegular);
  font-style: var(--styleNormal);
  color: var(--textColor);
}

.subtitle-margin {
  margin-block-start: 50px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-image {
  max-inline-size: 355px;
}

.footer {
  min-block-size: 668px;
  position: relative;
  display: grid;
  padding-block-start: 245px;
}

.footer-title {
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 0 var(--titleDecor);
}

.link {
  text-shadow: 1px 1px 0 var(--linkDecor);
  cursor: pointer;
}

.link:hover {
  border-block-end: 1px solid var(--textColor);
  cursor: pointer;
}

.link:focus {
  border-block-end: none;
  outline: 1px solid var(--textColor);
}

@media (min-width: 768px) {
  .page {
    padding-inline-start: 0;
  }

  .header {
    margin-inline-end: 10.5px;
  }

  .header__theme-menu-list {
    margin-block-start: 19px;
  }

  .title {
    justify-self: start;
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__slogan {
    margin-block-end: 20px;
    max-inline-size: 364px;
    justify-self: end;
  }

  .main {
    padding-inline: 20px;
  }

  .content {
    padding-block-start: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "title article article";
  }

  .content-title {
    grid-area: title;
  }

  .content-subtitle {
    width: 100%;
  }

  .article {
    min-inline-size: 475px;
    padding-inline-start: 10px;
    grid-area: article;
  }



}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: row;
    align-items: start;
  }
}
