/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: 10px;
  background-image: var(--backgroundImage);
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--backgroundColor);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding-block: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 3 (1fr min-content 1fr);
}

.decorative__element-start::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.caption__dark-theme {
  position: absolute;
  left: 304px;
  top: 10px;
}

.caption__dark-theme::after {
  padding-inline-start: 10px;
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: black;
  border-radius: 60px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
}

.header-title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: bold;
  line-height: 83%;
  color: var(--titleColor);
  text-shadow: 4px 4px 0 var(--titleDecor);
}

.header__slogan {
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitleColor);
  background-color: var(--titleDecor);
}

span .header__slogan {
  display: inline-block;
}

.content {
  margin-block-end: 30px;
}

.content-title {
  margin-block-end: 20px;
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--titleDecor);
}

.content-subtitle {
  margin-block-end: 10px;
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitleColor);
  background-color: var(--titleDecor);
}

.content__subtitle-regular {
  font-style: normal;
}

.content-text {
  margin-block-end: 20px;
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--textColor);
}

.footer {
  position: relative;
}
