:root {
  --backgroundImage: url(../images/cover-image-dark.png);
  --backgroundColor: #483D8B;
  --titleColor: #DB00FF;
  --titleDecor: #FF0070;
  --subtitleColor: #000028;
  --textColor: #F1B2CE;
  --buttonColor: #FF0070;
  --outlineColor: rgba(255, 0, 112, 0.4); 
  --font: "IBM Plex Mono", serif; 
  --weightBold: 700; 
  --styleBold: bold;
  --textSize: 18px;
  --textLineHeight: 23.4px;
  --weightRegular: 400;
  --styleNormal: normal;
}